#draft_config{
    text-align:center;
}

.form_title{
    font-size:18px;
    font-weight:600;
    display:block;
}

#overview_tabs{
    grid-row:2;
    grid-column:2;
    display:grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: minmax(25px, 25px);
    text-align:center;
    cursor: pointer;
    font-weight:bold;
    background-color:white;
}
    #overview_tabs div{
        height:100%;
    }
    #overview_tabs div:hover{
        background-color:#E0FFFF;
    }
    #overview_tabs div.selected{
        background-color:#ADD8E6;
    }
#player_select_controls{
    text-align:center;
    height:100%;
    background-color:white;
    grid-row:2;
    grid-column:1;
    display:grid;
    grid-template-columns: 33% 33% 33%;
}

/*Team Boards*/
.team_board{
    margin:10px;
    max-width:30%;
    max-height:600px;
    float:left;
    border-collapse: collapse;
    border-radius:5%;
    background-color:#FFFFFF;
}
.team_board td{
    padding:4px;
}
.team_board_player{
    width:70%;
}
.team_board_pick, team_board_position{
    width:15%;
}
/*Player List*/
.player_list_row{
    margin-top:5px;
    margin-bottom:5px;
    padding-left:5px;
    padding-right:5px;
    display:grid;
    grid-template-columns:10% 75% 10%;
}
.player_list_row[drafted="true"]{
    opacity:0.4;
}
.player_list_row:not([drafted=true]):hover{
    cursor:pointer;
    background:linear-gradient(to right, white , Green);
}