body{
    background:linear-gradient(to right, white , DarkGreen);
    
}
#page_wrapper{
    display:grid;
    grid-template-columns: minmax(250px, 1fr) minmax(700px, 2.5fr)/* minmax(150px, 1fr)*/;
    grid-template-rows: minmax(50px, 10vh) minmax(2vh, 3vh) minmax(500px, 87vh);
    box-sizing: border-box;
    max-width:vw;
    max-height:vh;
    /*grid-gap:minmax(3px, 3px);*/
}
#menu{
    grid-column: span 3;
    grid-row:1;
}
    #menu .title{
        font-size:50px;
    }
#player_select_column{
    overflow: auto;
    grid-column:1;
    grid-row:3;
    overflow-y: scroll;
}
#overview_column{
    overflow: auto;
    grid-column:2;
    grid-row:3;
    overflow-y: scroll;
}
/*#draft_log_column{
    overflow: auto;
    grid-column:3;
    grid-row:3;
    overflow-y: scroll;
}
*/
#undo, #redo{
    cursor: pointer;
}

#filter_position{
    border-radius: 5px;
    height: 100%;
    background-color:#ADD8E6;
}