body{
    background-color:#999999;
    grid-gap:1px;
    font-family: sans-serif;
    text-align:center;
}

#page_cover{ /*this protects the page from being interacted with while the module is up*/
    left:0px;
    top:0px;
    position:fixed;
    width:100vw;
    height:100vh;
    display:none;
}

#config_module{
    display:none;
    position:fixed;
    width:500px;
    height:800px;
    background:#007DC3;
    left:25%;
    top:10%;
    border: 5px groove #003399;
    border-radius:10px;
}

#module_title{
    /*margin:5px;*/
    padding:5px;
    text-align:center;
    font-size: 2em;
    border-bottom: 5px groove #003399;
}

#config_form_cont{

    padding-top:25px;
    text-align:center;
    color:white;
    letter-spacing: 2px;
    font-weight:600;
    font-size: 16px;
}

#standard_league_def{
    display:block;
}
#idp_league_def{
    display:none;
}

.menu_container{
    width:99vw;
    display:grid;
    grid-template-columns:33vw 33vw 33vw;
    grid-gap: 1px;
    /*border:1px solid black;*/
    background-color:#CCCCCC;
    min-height:10vh;
    max-height: 10vh;
}

.body_container{
    display:grid;
    grid-template-columns:25vw 60vw 15vw;
    /*/*border: 1px solid black;*/
    height:87vh;
    width:100vw;
}

/*Draft Player List*/
#player_list_container{
    width:100%;
}
#player_list_title{
    display:grid;
    grid-template-columns:10% 75% 10%;
}
#player_list{
    /*border:1px solid black;*/
    overflow:scroll;
    height:85vh;
}

.player_list_row{
    padding-left:5px;
    padding-right:5px;
    display:grid;
    grid-template-columns:10% 75% 10%;
}
.player_list_row[drafted="true"]{
    background-color:#CCCCCC;
    color:yellow;
}
.player_list_row:odd{
    background-color:lightblue;
}
.player_list_row:even{
    background-color:lightcoral;
}
.player_list_row:not([drafted=true]):hover{
    background-color:red;
    cursor:pointer;
}


/*Team Boards*/
#team_boards_cont{
    overflow:scroll;
    max-height:90vh;
    /*border: 1px solid black;*/
}

.team_board{
    margin:10px;
    max-width:30%;
    max-height:600px;
    float:left;
    border:1px solid black;
    border-collapse: collapse;
}

.team_board td{
    border:1px solid black;
}
.team_board_player{
    width:70%;
}

.team_board_pick, team_board_position{
    width:15%;
}